/* 20241016083922 */
/* /CSS Template */

.card {
  font-family: Arial;
  font-size: 20px;
  text-align: left;
  color: black;
  background-color: white;
}

.cloze {
  font-weight: bold;
  color: MediumSeaGreen !important;
}

.green {
  font-weight: bold;
  color: MediumSeaGreen !important;
}

.context {
  color: rgb(165, 165, 165);
}

.context2 {
  color: rgb(210, 210, 210);
}

.sentence2 {
  color: rgb(210, 210, 210);
}

a.hint {
  color: MediumSeaGreen !important;
  text-decoration: none;
}

.nightMode .cloze {
  color: MediumSeaGreen !important;
}

.mobile .disabled {
  display: none;
  visibility: hidden;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide+label~div {
  display: none;
}

/* вид текста label */
.hide+label,
.hide:checked+label {
  padding: 0;
  color: MediumSeaGreen !important;
  cursor: pointer;
  border-bottom: 1px dotted green;
}

/* вид текста label при активном переключателе */
.hide:checked+label {
  color: red;
  border-bottom: 0;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked+label+div {
  display: block;
  background: transparent;
  -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
  -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
  box-shadow: inset 3px 3px 10px #7d8e8f;
  padding: 10px;
}

/* скрываем чекбоксы и блоки с содержанием */
.show,
.show+label~div {
  display: none;
}

/* вид текста label */
.show+label,
.show:not(:checked)+label {
  padding: 0;
  color: MediumSeaGreen !important;
  cursor: pointer;
  border-bottom: 1px dotted green;
}

/* вид текста label при активном переключателе */
.show:not(:checked)+label {
  color: red;
  border-bottom: 0;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.show:not(:checked)+label+div {
  display: block;
  background: transparent;
  -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
  -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
  box-shadow: inset 3px 3px 10px #7d8e8f;
  padding: 10px;
}

.svg-container {
  display: inline-block;
  /* Сделать контейнер inline-block элементом */
  vertical-align: middle;
  /* Выравнивание по вертикали по середине строки */
  text-align: center;
  /* Выравнивание по горизонтали по центру строки */
}

.centered-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Вертикальное выравнивание по центру */
  align-items: center;
  /* Горизонтальное выравнивание по центру */
}

/*Anki (desktop) TTS needs to be hidden because AnkiDroid currently renders it as text instead of a play button like desktop.*/
.android .ankitts {
  display: none;
}

.field-audio {
  display: none;
  visibility: hidden;
}

.field-hide {
  display: none;
  visibility: hidden;
}

/*The AnkiDroid tts button won't work on other platforms because it uses the JS API, therefore it should be hidden*/
html:not(.android) .ankidroidTtsButton {
  display: none;
}

#answer-delete {
  border: none;
  height: 0;
  visibility: hidden;
}

.right {
  float: right;
}


/* CSS Template/ */

.line-wrapper {
  display: flex;
  /* Используем флексбокс для размещения элементов на одной строке */
  align-items: center;
  /* Выравниваем элементы по центру по вертикали */
}

.custom-hr {
  flex: 1;
  /* Растягиваем горизонтальную линию на всю доступную ширину */
  margin-right: 5px;
  /* Добавляем небольшой отступ между линией и символом */
  border: none;
  border-top: 1px solid MediumSeaGreen;
  /* Устанавливаем зеленый цвет линии */
}

.layout-table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.layout-table td {
  padding: 10px 10px;
  /* отступ внутри ячеек */
}

.container-9333 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.text-group-1192 {
  display: flex;
  align-items: center;
  gap: 10px;
  /* расстояние между кнопкой и текстом */
  margin-bottom: 20px;
  /* фиксированный отступ между WordSource и SentenceSource */
}

.spacer {
  height: 50px;
  /* Задайте нужную высоту */
  visibility: hidden;
  /* Или use display: none; для полного скрытия, но это уберёт элемент из потока */
}

.container-4453 {
  position: relative;
  /* Для позиционирования псевдоэлемента */
}

.container-4453::before {
  content: '';
  display: block;
  height: 50px;
  /* Задайте нужную высоту */
  visibility: hidden;
  /* Или use display: none; для полного скрытия */
}

.svc-element-20241027120232 {
  height: 50px;
  /* Задайте нужную высоту */
  visibility: hidden;
  /* Элемент изначально невидимый */
  background-color: lightgrey;
  /* Фоновый цвет для наглядности */
  margin: 10px 0;
  /* Отступы для визуального разделения */
}

.fixed-table {
  width: 100%;
  /* Ширина таблицы */
  height: 70px;
  border-collapse: collapse;
  /* Убираем лишние отступы между ячейками */
}

.fixed-cell {
  height: 20px;
  /* Высота ячейки (можно изменить) */
  border: 1px solid MediumSeaGreen;
  /* Граница ячейки */
  vertical-align: middle;
  /* Вертикальное выравнивание содержимого */
  padding: 10px;
  /* Отступы в ячейке */
}

.spacer-cell {
  height: 20px;
  /* Высота заглушки */
  width: 0;
  /* Ширина 0, чтобы не занимать пространство */
}